In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [32]:
nox15 = pd.read_csv('nox_2015.csv')

In [12]:
carv = pd.read_csv('CarVolume.csv')

In [10]:
len(nox)

87996

In [16]:
len(carv)

27487

In [33]:
nox15.columns

Index([u'Unnamed: 0', u'Class', u'Sector', u'Source', u'Emissions', u'Year',
       u'Pollutant', u'GRID_ID', u'GRID_ExactCut_ID', u'FeatureClass_ID',
       u'FeatureClass', u'Motorcycle', u'Taxi', u'Car', u'PetrolCar',
       u'DieselCar', u'Lgv', u'PetrolLgv', u'DieselLgv', u'BusAndCoach',
       u'LTBus', u'Coach', u'Rigid', u'Artic', u'Unit', u'REFERENCES_',
       u'X_COORD', u'Y_COORD', u'GRID_ExactCut_Area',
       u'GRID_ExactCut_AreaRound', u'BoroughName_GRID',
       u'BoroughName_ExactCut', u'Location_GRID', u'Location_ExactCut',
       u'FeatureClass_ID_2'],
      dtype='object')

In [13]:
carv.columns

Index([u'Year', u'CP', u'Region', u'LocalAuthority', u'Road', u'RoadCategory',
       u'Easting', u'Northing', u'StartJunction', u'EndJunction',
       u'LinkLength_miles', u'PedalCycles', u'Motorcycles', u'CarsTaxis',
       u'BusesCoaches', u'LightGoodsVehicles', u'V2AxleRigidHGV',
       u'V3AxleRigidHGV', u'V4or5AxleRigidHGV', u'V3or4AxleArticHGV',
       u'V5AxleArticHGV', u'V6orMoreAxleArticHGV', u'AllHGVs',
       u'AllMotorVehicles'],
      dtype='object')

In [34]:
nox15.head()

,Unnamed: 0,Class,Sector,Source,Emissions,Year,Pollutant,GRID_ID,GRID_ExactCut_ID,FeatureClass_ID,...,REFERENCES_,X_COORD,Y_COORD,GRID_ExactCut_Area,GRID_ExactCut_AreaRound,BoroughName_GRID,BoroughName_ExactCut,Location_GRID,Location_ExactCut,FeatureClass_ID_2
0,1,Mobile,RoadTransport,MajorRoadEmissions,COPERT,2015,NOx,9362,2828,4000000030329011,...,TQ2283,522500,183500,0.996657,0.99,Brent,Brent,Outer,Outer,TOID4000000030329011
1,2,Mobile,RoadTransport,MajorRoadEmissions,COPERT,2015,NOx,9364,2830,4000000030455270,...,TQ2483,524500,183500,0.955921,0.96,Brent,Brent,Outer,Outer,TOID4000000030455270
2,3,Mobile,RoadTransport,MajorRoadEmissions,COPERT,2015,NOx,9191,772,4000000030976110,...,TQ2384,523500,184500,0.996860,1.00,Brent,Brent,Outer,Outer,TOID4000000030976110
3,4,Mobile,RoadTransport,MajorRoadEmissions,COPERT,2015,NOx,9188,1452,4000000030138369,...,TQ2084,520500,184500,0.996886,1.00,Brent,Brent,Outer,Outer,TOID4000000030138369
4,5,Mobile,RoadTransport,MajorRoadEmissions,COPERT,2015,NOx,9358,2824,4000000030702967,...,TQ1883,518500,183500,0.791536,0.79,Brent,Brent,Outer,Outer,TOID4000000030702967

In [40]:
len(nox15.REFERENCES_[nox15.REFERENCES_=='TL1203'])

38

In [15]:
carv.head()

,Year,CP,Region,LocalAuthority,Road,RoadCategory,Easting,Northing,StartJunction,EndJunction,...,BusesCoaches,LightGoodsVehicles,V2AxleRigidHGV,V3AxleRigidHGV,V4or5AxleRigidHGV,V3or4AxleArticHGV,V5AxleArticHGV,V6orMoreAxleArticHGV,AllHGVs,AllMotorVehicles
0,2000,6000,London,Barnet,M1,TM,522170,189100,A406,M1 spur,...,433,5416,948,85,238,259,551,348,2428,38983
1,2000,6001,London,Barnet,M1,TM,520150,194300,2,4,...,1118,12696,2326,217,609,575,938,696,5361,99610
2,2000,6013,London,Hillingdon,M4,TM,508900,178400,4,3,...,1822,6985,3074,237,399,319,690,428,5147,90253
3,2000,6071,London,Tower Hamlets,A12,PU,538180,181800,A13,A11,...,238,5462,1069,161,335,80,248,101,1995,35394
4,2000,6075,London,Islington,A1,PU,530600,185870,A503 Camden Road,A503 Seven Sisters/Parkhurst Road,...,38,244,48,6,4,1,2,1,63,1915

In [35]:
len(nox15.Location_ExactCut[nox15.Location_ExactCut!='NonGLA'])

73602